@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-neutral-50: #fafafa;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #e5e5e5;
  --color-neutral-300: #d4d4d4;
  --color-neutral-400: #a3a3a3;
  --color-neutral-500: #737373;
  --color-neutral-600: #525252;
  --color-neutral-700: #404040;
  --color-neutral-800: #262626;
  --color-neutral-900: #171717;
  --color-neutral-950: #0a0a0a;
}

:root {
  --bg-canvas: #F5F5F5;
  --bg-surface: #FFFFFF;
  --bg-secondary: #F3F4F6;
  --border-subtle: #E5E7EB;
  --text-primary: #1F2937;
  --text-secondary: #6B7280;
}

.dark {
  --bg-canvas: #1E2124;
  --bg-surface: #282B30;
  --bg-secondary: #282B30;
  --border-subtle: #3F4147;
  --text-primary: #FFFFFF;
  --text-secondary: #A3A3A3;
}
